@import "./variables.scss";

.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 0px;
    background-color: var(--brown);
    font-size: 1.2rem;
    
    a{
        color: white;
    }

    a:hover{
        text-decoration: underline;
    }
}

.header_content{
    width: $pageWidth;
    margin: 0 auto;

    ul{
        display: flex;

        li{
            margin-right: 30px;
        }
    }
}



